godot.log
debug.log

# Godot-specific ignores
.import/
export.cfg

# Mono-specific ignores
.mono/

# Viz studio garbage
.vs/
.vscode/

dist

.Nakama
.cookie
.DS_Store

config.tpl_*.tres
config.tpl.tres
Data/InventoryItems.cs

Resources/Config/GameConfig.cs