name: nakama1
database:
  address:
    - "root@cockroachdb:26257"
socket:
  max_message_size_bytes: 51200
{{- if .profile.omgd.nakama.key }}
  server_key: {{ .profile.omgd.nakama.key }}
{{- else }}
  server_key: "defaultkey"
{{- end }}
session:
  token_expiry_sec: 864900
{{- if .profile.omgd.nakama.key }}
  server_key: {{ .profile.omgd.nakama.key }}
{{- else }}
  server_key: "defaultkey"
{{- end }}
runtime:
  http_key: defaultkey
