config.yml
nakama/data/modules/inventory_items.lua
nakama/data/modules/version.lua
nakama/data/modules/game_config.lua
nakama/data/.cookie

nakama/website/*
!nakama/website/.gitkeep

nakama/data/modules/mission_list.lua

infra/**/.terraform/*
infra/**/.terraform.lock.hcl
infra/**/*.tfstate
infra/**/*.tfstate.*
infra/**/*.tfvars
infra/**/override.tf
infra/**/override.tf.json
infra/**/*_override.tf
infra/**/*_override.tf.json
infra/**/.terraformrc
infra/**/terraform.rc

