extends Node

const real_world_seconds_per_day = {{.game.real_world_seconds_per_day}}
const nakama_host = "{{.nakama.host}}"
const nakama_key = "{{.nakama.key}}"
const nakama_port = {{.nakama.port}}
const nakama_secure = {{.nakama.secure}}
const version = "{{.game.version}}"
